<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <i class="fa-solid fa-user" (click)="toggleCollapse()" id="logo-icon"></i>
      <!-- <img class="logo"  alt="Profile Photo" (click)="toggleCollapse()"> -->
      <div class="logo-text" *ngIf="collapsed">
        <span class="logo-text-bold">Hola, Nombre</span>
      </div>
      <button class="btn" *ngIf="collapsed" (click)="closeSidenav()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
        </a>
      </li>
    </ul>
    <div class="sidenav-footer">
      <button class="btn" (click)="cerrarSesion()">
        <i class="fa-solid fa-sign-out" id="logout"></i>
        <span class="sidenav-link-text" *ngIf="collapsed" id="logout-text" >Logout</span>
      </button>
    </div>
  </div>