@import "~@fortawesome/fontawesome-free/css/all.css";

.sidenav {
    background: #DB0083;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    overflow: hidden;
    
}

.sidenav .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;   
}

.sidenav .logo-container #logo-icon {
    background: #fff;
    color: #DB0083;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    min-height: 3rem;
    border-radius: 0.625rem;
    /* padding: 0.313rem; */
    /* font-size: 0.8rem; */
    font-weight: 500;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-icon {
    font-size: 1.5rem;
    width: 2rem;
    min-width: 2rem;
    /* margin-left: -0.15rem; */
    text-align: center;
    position: relative;
    
    border: none;
}



.sidenav .logo-container .logo-text {
    margin-left: 1.5rem;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.sidenav .logo-container .btn {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    border: none;
}

.sidenav .logo-container .btn .fa-xmark {
    color: #fff;
    font-size: 24px;
    border: none;
}

.sidenav-collapsed {
    width: 16.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: calc(100% - 3.65rem); */
    cursor: pointer;
}

.sidenav-nav .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: color .3s ease;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
    margin-left: 1.5rem;
}

.sidenav-nav .sidenav-nav-item .sidenav-nav-link:hover {
    color: #DB0083;
    background: #fff;
}

.active {
    background-color: #fff;
}

.active .sidenav-link-icon, .active .sidenav-link-text {
    color: #DB0083;
}

.sidenav-footer {
    position: absolute; 
    bottom: 0; 
    margin: 0 0 0.5rem 0;
    background-color: #DB0083;
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;   
}

.sidenav-footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: color 0.3s ease;
    cursor: pointer;
    border: none;
  }
  
  .sidenav-footer .btn i {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin-left: -0.15rem;
    text-align: center;
    border: none;
}

  .sidenav-footer .btn .sidenav-link-text {
    margin-left: 2rem;
  }
  
  .sidenav-footer .btn:hover {
    color: #DB0083;
    background-color: #fff;
  }

  #logout {
    /* margin-top: 1rem; */
    color: #DB0083;
  }

  #logout-text {
    color: #DB0083;
    font-weight: 500;
    font-size: 16px;
  }