<body>
    <div class="quine">
        <img src="../../../assets/images/quiNeWB.png" class="quine">
    </div>
    <div class="center">
            <h1>Iniciar Sesión</h1>
            <form id="login-form" (ngSubmit)="iniciarSesion()" [formGroup]="loginForm" >
                <div class="txt_field">
                    <input type="text" formControlName="telefono">
                    <span></span>
                    <label>Teléfono</label>
                </div>
                <!-- <div class="txt_field">
                    <input type="number"  >
                    <span></span>
                    <label>Contraseña</label>
                </div> -->
                <input type="submit" value="Siguiente">
            </form>
                <div class="signup_link">
                </div>
        </div>
</body>